:root {
    --mainColor: #152028;
    --secondaryColor: #192734;
    --borderColor: #164056;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeborderColor: #fff;
    --previewBg: rgba(25, 39, 52, 0.8);
    --previewShadow: #111921;
    --btnColor:#17a2b8;
  }